<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- SEO -->
			<meta name="description" content="Serhat Turkmen">
			<meta name="keywords" content="Aquaculture">
		</head>
		
		<header>
			<h2 style="margin-bottom=5px" style="margin-right=5px"><font size="6"><strong> Serhat Turkmen </strong></font><img src="/images/profile.png" alt="Serhat Turkmen Headshot" style="float:left;height:80px;"></br>
			<font size="4"><i><span style="font-weight:normal"> Aquaculture, Parental Nutrition, Epigenetics </i></span></font></h2>
  		</header>
		
		
			<nav>
	    		<ul>
        			<li><a href="/">Home</a></li>
        			<li><a href="/cv">CV</a></li>
			  	<li><a href="/publications">Publications</a></li>
			    	<li><a href="/research">Research</a></li>
	    		</ul>
			</nav>
		
		<body>
			
			<div class="container">
				
			{{ content }}
				
			</div><!-- /.container -->
			
			
			<footer>
	    		<ul>
				<div style="text-align:center">
            			<li><img src="/images/icon_email.png" alt="email icon" style="height:20px;"> <a href="mailto:turkmen@uab.edu">turkmen@uab.edu</a></li>
        			<li><img src="/images/icon_git.png" alt="git icon" style="height:20px;">  <a href="https://github.com/eastonwhite">github.com/eastonwhite</a></li>
				<li><img src="/images/icon_twitter.png" alt="twitter icon" style="height:20px;">   <a href="https://twitter.com/turkmens">@turkmens</a></li> </div>
			</ul>
			</footer>
		</body>
	</html>
